.git
.gitignore
.venv
.pytest_cache
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.DS_Store
*.log
docs/
tests/
samples/
runtime/*
!runtime/.gitkeep
requirements-dev.txt
requirements-training.txt
requirements-conversion.txt
notebooks/
*.ipynb
*.pth
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
